.card-horizontal {
  width: 90%;
  border-radius: 2px;
  display: grid;
  padding: 20px;
}

.school-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 1 / span 2;
  flex-direction: row;
  grid-row-start: 1;
}

.card-horizontal-img {
  width: 256px;
  height: 140px;
}

$courses-title-padding: 20px;

.courses-title {
  grid-row-start: 2;
  grid-column: 1 / span 2;
  margin: auto;
  margin-top: $courses-title-padding;
  margin-bottom: $courses-title-padding;
}

.courses-outer-container {
  grid-row-start: 3;
  grid-column: 1 / span 2;
  display: grid;
  gap: 0.8rem;
}

.course-name {
  font-size: 1rem;
  text-align: center;
  margin: 0px;
  padding: 2px;
}

@media (min-width: 600px) {
  .courses-outer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media (max-width: 600px) {
  .school-container {
    flex-direction: column;
  }

  .card-horizontal-text {
    margin: auto;
  }

  .card-horizontal-img {
    margin: 20px auto;
    grid-row: 2;
  }
}
